:root {
    --cor-primaria: #f9f5ef;
    --cor-verde: #2E5E4E;
    --cor-botao: #2C3E50;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-verde);
}

.navbar {
    background-color: var(--cor-verde);
}

.navbar a {
    color: var(--cor-primaria);
}

.offcanvas-body {
    background-color: var(--cor-verde);
}

.botao {
    background-color: var(--cor-botao);
    color: var(--cor-primaria);
}

.container {
  display: flex;
  max-width: 900px;
  margin-top: 120px;
  gap: 30px;
  align-items: flex-start;
}

#sobre {
  font-size: 32px;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

#imagemPessoal {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

#especializações {
  font-size: 32px;
  text-align: center;
}

.icone {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100px; 
}

#tituloEspecializacoes {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.descricaoPessoal {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 16px;
  padding: 2%;
}

.lista-especializacoes {
  display: flex;
  justify-content: center;
  gap: 200px; /* espaçamento entre colunas */
  flex-wrap: wrap; /* para quebrar em telas menores */
  padding: 20px 0;
  text-align: left;
}

.lista-especializacoes ul {
  list-style-type: disc;
  padding-left: 30px;
}

.lista-especializacoes li {
  margin-bottom: 50px;
  font-size: 16px;
}

.botao-agendamento {
  background-color: #955F27;
  color: var(--cor-primaria);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
  align-items: center;
}

.botao-container {
    text-align: center;
}